In [5]:
%pwd

'C:\\Users\\dave_\\Desktop\\DHDA\\SEMESTER1\\DHDS110 -Data Science and Data Analytics\\Week 9 - Pyton'

In [1]:
import os

os.getcwd()

'C:\\Users\\dave_\\Desktop\\DHDA\\SEMESTER1\\DHDS110 -Data Science and Data Analytics\\Week 9 - Python'

In [2]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sb

import sas7bdat
from sas7bdat import *
from datetime import datetime as dt

In [37]:
pip install xlrd==1.2.0

Requirement already satisfied: xlrd==1.2.0 in c:\users\dave_\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#1) From assignment 1, import the provided xlsx files (the same ones you imported into MSAccess) into Jupyter: 
#Comment2, FallTable2, InterviewTable2, MedicalHistory2, SurgicalHistory2

Comment2 = pd.read_excel("Comment2.xlsx")
Interview2 = pd.read_excel("InterviewTable2.xlsx")
Fall2 = pd.read_excel("FallTable2.xlsx")
MedHx2 = pd.read_excel("MedicalHistory2.xlsx")
SurgHx2 = pd.read_excel("SurgicalHistory2.xlsx")

In [4]:
# 2) Sort each of them by SubjectID
# Could sort by multiple variables, and define if ascending or descending using list 
# matching the same order of variables
# na_position forces NA values to first or last 

Comment2.sort_values(by=['SubjectID'], na_position="last")
Interview2.sort_values(by=['SubjectID'], na_position="last")
Fall2.sort_values(by=['SubjectID'], na_position="last")
MedHx2.sort_values(by=['SubjectID'], na_position="last")
SurgHx2.sort_values(by=['SubjectID'], na_position="last")

,SDHospitalAd,SDAdreasonHD,SDAdreasonBC,SDAdreasonCU,SDAdreasonOC,SDAdreasonOCSpec,SDAdreasonOA,SDAdreasonOASpec,SDHysterectomy,SDHysterectomyAge,SubjectID
0,No,0,0,0,0,NaN,0,NaN,No,NaN,AM10353
1,No,0,0,0,0,NaN,0,NaN,Yes,50.0,AM10355
2,No,0,0,0,0,NaN,0,NaN,No,NaN,AM10357
3,Yes,0,0,0,0,NaN,1,infection on antibiotic pump,Yes,40.0,AM10359
4,No,0,0,0,0,NaN,0,NaN,Yes,42.0,AM10361
...,...,...,...,...,...,...,...,...,...,...,...
308,No,0,0,0,0,NaN,0,NaN,No,NaN,AM20731
309,No,0,0,0,0,NaN,0,NaN,No,NaN,AM20732
310,No,0,0,0,0,NaN,0,NaN,No,NaN,AM20733
311,No,0,0,0,0,NaN,0,NaN,No,NaN,AM20841
312,No,0,0,0,0,NaN,0,NaN,No,NaN,AM50351

In [5]:
#3) Merge all of them together in an inner join as a new dataframe
TablesJoin = Comment2.merge(Interview2, on="SubjectID", how="inner")
TablesJoin = TablesJoin.merge(Fall2, on="SubjectID", how="inner")
TablesJoin = TablesJoin.merge(MedHx2, on="SubjectID", how="inner")
TablesJoin = TablesJoin.merge(SurgHx2, on="SubjectID", how="inner")
print(TablesJoin)

                                             IAComment SubjectID   SIDateiv  \
0    very easy-going - real nuisance bring pills in...   AM10353 2014-08-01
1                                                  NaN   AM10355 2014-10-05
2                                                  NaN   AM10357 2014-11-28
3                                                  NaN   AM10359 2014-05-23
4    very interested in research, no MRI because pa...   AM10361 2014-08-07
..                                                 ...       ...        ...
291  Nutrition and SF36 Questionnaires completed at...   AM20723 2016-04-07
292  Nutrition and SF36 Questionnaires completed at...   AM20731 2016-04-01
293  Nutrition and SF36 questionnaires completed at...   AM20732 2016-04-22
294  Nutrition and SF36 Questionnaires completed at...   AM20733 2016-04-27
295  Nutrition and SF36 Questionnaires completed at...   AM20841 2015-11-18

    SIInterviewerName  SIHourBegan  SIMinuteBegan  SIHourEnded  SIMinuteEnded  \
0      Kim Kardashian          2.0           45.0          1.0            0.0
1      Kim Kardashian          1.0           44.0          2.0           50.0
2      Kim Kardashian          2.0           11.0          3.0            0.0
3      Kim Kardashian         10.0           37.0         11.0           45.0
4           Sam Smith          1.0           31.0          2.0           35.0
..                ...          ...            ...          ...            ...
291    Kim Kardashian          8.0           17.0         11.0           50.0
292    Kim Kardashian         10.0           42.0         11.0           20.0
293    Kim Kardashian         10.0           42.0         11.0           15.0
294    Kim Kardashian         10.0           45.0         11.0           25.0
295    Kim Kardashian          4.0            5.0         11.0           45.0

     SIDXA  SIpQCT  ...  SDHospitalAd  SDAdreasonHD  SDAdreasonBC  \
0        1       1  ...            No             0             0
1        1       1  ...            No             0             0
2        1       1  ...            No             0             0
3        1       1  ...           Yes             0             0
4        1       1  ...            No             0             0
..     ...     ...  ...           ...           ...           ...
291      1       1  ...            No             0             0
292      1       1  ...            No             0             0
293      1       1  ...            No             0             0
294      1       1  ...            No             0             0
295      1       1  ...            No             0             0

     SDAdreasonCU SDAdreasonOC SDAdreasonOCSpec  SDAdreasonOA  \
0               0            0              NaN             0
1               0            0              NaN             0
2               0            0              NaN             0
3               0            0              NaN             1
4               0            0              NaN             0
..            ...          ...              ...           ...
291             0            0              NaN             0
292             0            0              NaN             0
293             0            0              NaN             0
294             0            0              NaN             0
295             0            0              NaN             0

                 SDAdreasonOASpec  SDHysterectomy  SDHysterectomyAge
0                             NaN              No                NaN
1                             NaN             Yes               50.0
2                             NaN              No                NaN
3    infection on antibiotic pump             Yes               40.0
4                             NaN             Yes               42.0
..                            ...             ...                ...
291                           NaN              No                NaN
292                           NaN              No                NaN
293                           NaN              No                NaN
294                           NaN              No                NaN
295                           NaN              No                NaN

[296 rows x 74 columns]

In [9]:
#4) Calculate time SINCE the interview date (SIDateiv) - using your "today"'s date - expressed in months  (call this  timesinceint)
from datetime import date
TablesJoin['TodaysDate'] = date.today()

# use suffix .dt.days after subtraction of dates
# requires dates to be a legitimate pythonic date - not string 
TablesJoin["timesinceinv"] = (TablesJoin['TodaysDate'] - TablesJoin["SIDateiv"]).dt.days

TypeError: cannot subtract DatetimeArray from ndarray

In [ ]:
#6) Subset this dataframe by selecting only cases where  timesinceint is >= mean of the value of  timesinceint across all participants (e.g. the 50% most recent participants)

In [36]:
#7) Create another subset of this dataframe from 6) selecting only:  SubjectID and these variables: 
#SDOsteoDiag      SDRheumaDiag SDOADiag            SDLupusDiag      SDHyperthyDiag
Subset = TablesJoin.loc[:,["SubjectID", "SDOsteoDiag",'SDRheumaDiag','SDOADiag','SDLupusDiag','SDHyperthyDiag']]
Subset

    SubjectID SDOsteoDiag SDRheumaDiag SDOADiag SDLupusDiag SDHyperthyDiag
0     AM10353          No           No      Yes          No             No
1     AM10355         Yes           No       No          No             No
2     AM10357         Yes           No       No          No             No
3     AM10359         Yes          Yes      Yes          No             No
4     AM10361          No           No       No          No             No
..        ...         ...          ...      ...         ...            ...
291   AM20723          No           No       No          No             No
292   AM20731         Yes          Yes       No          No             No
293   AM20732          No           No      Yes          No            Yes
294   AM20733         Yes           No      Yes          No             No
295   AM20841         Yes           No      Yes          No             No

[296 rows x 6 columns]

In [72]:
#8) Recode the yes and no's to 1's and 0's, respectively. Also recode missing data and Don't know to NA. 
#Challenge yourself and use functions and loops rather than doing one at a time. 
lst = list(Subset.columns)[:]

TypeError: 'Index' object is not callable

In [67]:
#9) Determine the frequencies of the response categories for these same variables that you've recoded
pd.crosstab(index=Subset['SDOsteoDiag'], columns='count')

col_0        count
SDOsteoDiag
Don't Know       2
No             218
Yes             73

In [68]:
pd.crosstab(index=Subset['SDRheumaDiag'], columns='count')

col_0         count
SDRheumaDiag
Don't Know        1
No              272
Yes              20

In [69]:
pd.crosstab(index=Subset['SDOADiag'], columns='count')

col_0       count
SDOADiag
Don't Know      2
No            176
Yes           116

In [59]:
pd.crosstab(index=Subset['SDLupusDiag'], columns='count')

col_0         count
SDLupusDiag
No              290
Yes               1
missing data      1

In [70]:
pd.crosstab(index=Subset['SDHyperthyDiag'], columns='count')

col_0           count
SDHyperthyDiag
No                287
Yes                 5